<!--
    eleyf
    3/15/18
    cs290 w2018
    HW Assignment - DB Interactions and UI
-->

<!doctype html>
<html>
<head>
	<title>HW Assignment DataBase Interactions and UI</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	{{{body}}}
</body>
</html>