/*
    eleyf
    3/2/18
    cs290 w2018
    Final Project
 */

body{
    background-color: #FFF9C4;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.card{
    background-color: #FFFDE7;
}

.btn{
    background-color: #E1BEE7;
    color: green;
}

.dropdown-menu{
    background-color: #FFFDE7;
}

.scrollBox{
    background-color: #FFF9C4;
    width:50%;
    height: 150px;
    overflow: scroll;
}

.scrollBox li:nth-of-type(odd) {
    background-color: #DCEDC8;
}

.scrollBox li:nth-of-type(even) {
    background-color: #E1BEE7;
}

ul{
    list-style: none;
}
